span {
    position: relative;
    bottom:6px;
}

a {
    text-decoration: none;
    color: #6e5494;
}

img {
    filter: invert(38%) sepia(29%) saturate(759%) hue-rotate(222deg) brightness(89%) contrast(95%);
}